@media screen and (min-width: 1024px) {
  .dashboard-home-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;
  }

  .dashboard-home-stack .card {
    margin-bottom: 0;
  }

  .dashboard-home-stack .progress-card {
    margin-bottom: 0;
  }
}

.tab-content.active .bid-details .bid-field,
.tab-content.active .bid-details-compact .bid-field {
  gap: 2px !important;
}
